@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Grad4Brite Hackathon 2017</h2>
    
    <div>
        <img src="~/Content/Images/brite4grad.png" class="img-rounded, InlineImage" width="300" alt="Grad4Brite"/>
        <p class="lead">There will always be demand and supply forces in te market, in the digital 
            information era we live in today we have seen a masive shift in how players on both sides
            are being connected with each other.</p>
    </div>

    <br />
 
    
    <p class="lead">The Facebooks, Twitter, Uber, Airbnb and many others have proven that becomming a plarform
     that understands how to connect the demand with the supply can be more powerfull that filling a need yourself.</p>
    
    <p class="lead">You have been given a basic portal that filters candidates to initiatives (Match Demand and Supply), this is done in a very manual way by asking 
    basic questions (Yes/No or Multiple Choice) to the next level by considering one or more of the following areas:</p>
    <ul>
        <li>Not just on fulfilling their ultimate needs but the experience to get there (Elagant UX)</li>
        <li>People have a high reliance on recomendations to reduce noise (Improved matching / suggestions)</li>
        <li>Expand current challenge types, add more exiting and engaging challenges</li>
    </ul>

</div>

