@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Grad4Brite Hackathon 2017</h2>
    
    <div>
        <img src="~/Content/Images/brite4grad.png" class="img-rounded, InlineImage" width="300" alt="Grad4Brite"/>
        <p class="lead">There will always be demand and supply forces in the market, in the digital 
            information era we live in today we have seen a massive shift in how players on both sides
            are being connected with each other.</p>
    </div>
    <br />
 
    <p class="lead">The likes of Facebook, Twitter, Uber, Airbnb and many others have proven that becoming a platform
     that understands how to connect the demand with the supply can be more powerful than filling the need yourself.</p>
    
    <p class="lead">You have been given a basic portal that filters applicants to initiatives (Match Demand and Supply), this is done in a quiz approach 
    using basic types of questions (Yes/No or Multiple Choice). Your task is to take it to the next level by considering one or more of the following areas:</p>
   
    <ul>
        <li>UX: Improve the user experience during matching</li>
        <li>Algorithm: Improve the matching logic</li>
        <li>Challenge types: Add more challenge types than Yes/No and Multiple Choice</li>
    </ul>
</div>

