@using Web.Models

@model InitiativesModel
@{
    ViewBag.Title = "Initiatives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/Pages/initiativeList.js"></script>

    <script>
        $().ready(function() {

            site.page.links.initiativeUrl = "@Url.Action("Initiative", "Home")" + '?initiativeId={0}';

            console.log("Main Page");
            var serverData = @Html.Raw(Json.Encode(new
                             {
                                 Initiatives = Model?.Initiatives
                             }));

            site.page.viewModel = site.createViewModel(serverData);
            ko.applyBindings(site.page.viewModel);
        });

    </script>
}

<div class="jumbotron">
    <h1>Initiatives</h1>
    <p class="lead">Below is a list of available causes & inititatives for you</p>
</div>

<div data-bind="foreach: initiatives">
    <div class="card" data-bind="click: redirect">
        <h3 data-bind="text: title"></h3>
        <p data-bind="text: description"></p>
    </div> 
</div>







